<p>
  <%= content_tag(:label, l(:label_enabled))%>
  <%= check_box_tag "settings[enabled]", true, @settings["enabled"] == "true" %>
</p>

<p>
  <%= content_tag(:label, l(:label_env_variable_name)) %>
  <%= text_field_tag "settings[env_variable_name]", @settings["env_variable_name"] %><br/>
  <%= l(:label_default)%>: REMOTE_USER
</p>

<p>
  <%= content_tag(:label, l(:label_remove_suffix)) %>
  <%= text_field_tag "settings[remove_suffix]", @settings["remove_suffix"] %><br/>
  <%= l(:label_remove_suffix_help)%>
</p>

<p>
  <%= content_tag(:label, l(:label_redmine_user_property))%>
  <%= radio_button_tag "settings[redmine_user_property]", "login", @settings["redmine_user_property"] == "login" %>
  <%= l(:label_login_name)%><br/>
  <%= radio_button_tag "settings[redmine_user_property]", "mail", @settings["redmine_user_property"] == "mail" %>
  <%= l(:label_email_address)%>
</p>

<p>
  <%= content_tag(:label, l(:label_allow_other_login))%>
  <%= radio_button_tag "settings[allow_other_login]", "admins", @settings["allow_other_login"] == "admins" %>
  <%= l(:label_allow_other_login_admins)%><br/>
  <%= radio_button_tag "settings[allow_other_login]", "all", @settings["allow_other_login"] == "all" %>
  <%= l(:label_allow_other_login_all)%><br/>
  <%= radio_button_tag "settings[allow_other_login]", "users", @settings["allow_other_login"] == "users" %>
  <%= l(:label_allow_other_login_users)%><br/>
  <%= text_field_tag "settings[allow_other_login_users]", @settings["allow_other_login_users"] %><br/>
  <%= radio_button_tag "settings[allow_other_login]", "none", @settings["allow_other_login"] == "none" %>
  <%= l(:label_allow_other_login_none)%><br/>
</p>

<p>
  <%= content_tag(:label, l(:label_ldap_checked_auto_registration))%>
  <%= check_box_tag "settings[ldap_checked_auto_registration]", true, @settings["ldap_checked_auto_registration"] == "true" %>
</p>

<p>
  <%= content_tag(:label, l(:label_env_checked_auto_registration))%>
  <%= check_box_tag "settings[env_checked_auto_registration]", true, @settings["env_checked_auto_registration"] == "true" %><br/>
  <%= content_tag(:label, l(:label_env_variable_firstname)) %>
  <%= text_field_tag "settings[env_variable_firstname]", @settings["env_variable_firstname"] %><br/>
  <%= l(:label_default)%>: GIVENNAME<br/>
  <%= content_tag(:label, l(:label_env_variable_lastname)) %>
  <%= text_field_tag "settings[env_variable_lastname]", @settings["env_variable_lastname"] %><br/>
  <%= l(:label_default)%>: LASTNAME<br/>
  <%= content_tag(:label, l(:label_env_variable_email)) %>
  <%= text_field_tag "settings[env_variable_email]", @settings["env_variable_email"] %><br/>
  <%= l(:label_default)%>: EMAIL<br/>
  <%= content_tag(:label, l(:label_env_variable_admins)) %>
  <%= text_field_tag "settings[env_variable_admins]", @settings["env_variable_admins"] %><br/>
  <%= l(:label_env_variable_admins_description)%><br/>
  <%= content_tag(:label, l(:label_env_variable_new_user_initial_locked))%>
  <%= check_box_tag "settings[env_variable_new_user_initial_locked]", true, @settings["env_variable_new_user_initial_locked"] == "true" %><br/>
  <%= content_tag(:label, l(:label_show_logout_link))%>
  <%= check_box_tag "settings[show_logout_link]", true, @settings["show_logout_link"] == "true" %><br/>
  <%= content_tag(:label, l(:label_external_logout_target)) %>
  <%= text_field_tag "settings[external_logout_target]", @settings["external_logout_target"] %><br/>
  <%= l(:label_external_logout_target_description)%><br/>
</p>

<fieldset>
  <legend><%= l(:label_external_auth_buttons) %></legend>
  <p><%= l(:label_external_auth_buttons_description) %></p>
  
  <p>
    <%= hidden_field_tag "settings[allow_local_login]", "false" %>
    <%= check_box_tag "settings[allow_local_login]", "true", @settings["allow_local_login"] != "false" %>
    <%= content_tag(:label, l(:label_allow_local_login)) %><br/>
    <small><%= l(:label_allow_local_login_description) %></small>
  </p>
  
  <% (1..5).each do |i| %>
    <div style="margin-bottom: 10px; padding: 5px; border: 1px solid #ddd; border-radius: 4px;">
      <strong><%= l(:label_auth_button_pair, :num => i) %></strong><br/>
      <%= content_tag(:label, l(:label_auth_url)) %>
      <%= text_field_tag "settings[auth_url_#{i}]", @settings["auth_url_#{i}"], :size => 50, :placeholder => "https://example.com/shibboleth/login" %><br/>
      <%= content_tag(:label, l(:label_auth_button_label)) %>
      <%= text_field_tag "settings[auth_button_#{i}]", @settings["auth_button_#{i}"], :size => 30, :placeholder => l(:label_auth_button_placeholder) %><br/>
    </div>
  <% end %>
</fieldset>
